<div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="album text-muted" style="padding-top :0%">
          <div class="container">
    
            <div class="row">
              <div class="card" *ngFor="let posts of posts">
                <img src="assets/img/card1.jpg" alt="Card image cap">
                <h4>{{posts.title}}</h4>
                <p>{{posts.body}}</p>
              </div>
            </div>
          </div>
    </div>
</div>
